<ion-header>
  <ion-toolbar>
    <ion-title>Soccer News</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterArticles()" placeholder="Search news..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="isLoading" style="display:flex; justify-content:center; margin-top:2rem;">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let article of filteredArticles" lines="full" (click)="openArticle(article.url)" button>
      <ion-thumbnail slot="start">
        <img [src]="article.image" alt="news image"/>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ article.title }}</h2>
        <p>{{ article.source.name }}</p>
      </ion-label>
      <ion-button slot="end" fill="clear" (click)="$event.stopPropagation(); saveArticle(article)">
        <ion-icon name="bookmarks-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>