<ion-header>
  <ion-toolbar>
    <ion-title>Soccer News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="isLoading" style="display:flex; justify-content:center; margin-top:2rem;">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let article of newsArticles" lines="full">
      <ion-thumbnail slot="start">
        <img [src]="article.image" alt="news image"/>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ article.title }}</h2>
        <p>{{ article.source.name }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>